:root {
    --name: banzayyyswag;
    --description: музыка громче, глаза закрыты.; 
    --text-color: #fff;
    --back-color: #00000033;
    --over-color: #000000;
    --popup-text-color: #ffffff;
    --border: none;
    --pasxalka: https://www.youtube.com/watch?v=_En5m2obLkU;
    --has-pasxalka-work: 'false';